<li>
	{{burger_name}}

	{{!-- <button class="devour" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button> --}}

	<button class="devour-burger" data-id="{{this.id}}">EAT!</button>
</li>
